.wo-type-wrap{
  background-color: grey;
  height: 42px;

}

.set{
  margin: 0 37px;
  
}

.weight-col{
  border: 1px solid black;
  border-right: 0;
  background-color: white;
}

.rep-col{
  border: 1px solid;
  background-color: white;
}

.set-col{
  height: 54px;
  padding-top: 5px;
  
}

.set-btn{
  font-size: 24px;
  height: 59px;
}

h3{
  line-height: 0;
  text-align: center;
}


li{
  overflow: hidden;
  background-color: grey;
  border-radius: 4px;
  padding-bottom: 23px;
  margin: 10px 0;
  
}

h2{
  text-align: center;
  padding-bottom: 10px;
  padding-top: 1px;

}

.add-ex{
  height: 75px;
  font-size: 30px;
}

.finish-wo{
  height: 75px;
  font-size: 30px;
}









